body
{
  background-color: gray;
}
footer
{
  margin-top: 20px;
}
img
{
  border-radius: 10px
}

#Contenedor{
  font-family: helvetica;
  font-size: 16px;
}
.ItemIndice1{
  list-style-type: arial;
}
.enlace{
  color: red;
}
