body
{
  background-color: gray;
}
footer
{
  margin-top: 20px;
}
img
{
  border-radius: 10px
}

#Contenedor{
  font-family: helvetica;
  font-size: 16px;
}
.ItemIndice1{
  list-style-type: helvetica;
}

a[hrefˆ="#"]{
  color: black
}
.enlace{
  color: red;
}
img[src$='.svg']{
  border-radius: 50px;
}
img[src$='jpg'],img[src$='jpg']{
  border: 1px solid black;
  border-radius: 5px
}
*{
  margin: 1vh 2vw;
}
